@font-face {
    font-family: Lato Black;
    src:url(fonts/Lato-Black.ttf)
}

@font-face {
    font-family: Fira Sans;
    src: url(fonts/Fira_Sans/FiraSans-Light.ttf);
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fira Sans,system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    
    
}



header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid rgb(0, 47, 255);
    background-color: rgb(238, 238, 239);
    align-items: center; 
    padding: 15px 70px 15px 70px;
}

body {
    background-color: rgb(233, 229, 225);
    
}






h4 {
    color:rgb(21, 6, 97);
    font-size: 3rem;
    margin: 0;
    font-family: Lato Black, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#add-button {
    border: 1px solid rgb(188, 192, 209);
    background-color: rgb(0, 47, 255);
    color: white;
    border-radius: 5%;
    padding: 0.2rem;
    box-shadow: #7c7d80 1px 2px 2px;
    width: 130px;
    height: 2rem;
    font-family: Lato Black, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


dialog {
    background-color:rgb(214, 218, 222);
    border-radius: 5px;
    border-color: #2d76b5;
    box-shadow: #9c9da0 1px 2px 2px;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
}

#submit {
    font-family: Lato Black, system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0365ba;
    border: 1px solid #2d76b5; 
    box-shadow: #9195a5 1px 2px 2px;
    border-radius: 5px;
    padding: 0.2rem;
    width: 130px;
    margin: auto;
    font-size: 0.9rem;

}

.book-wrapper {
   position: relative;
    margin: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;

}

.book-card {
    background-color:rgb(248, 248, 247);
    border: 1px solid black;
    border-left: 9px groove #0365ba;
    border-radius: 3%;
    
    padding: 0.3rem 1rem 2rem 1rem;
   
    position: relative;
    display: flex;
    flex-direction: column;  
   
}

h3 {
    font-family: Lato;
    font-size: 1.2rem;
    color: rgb(8, 25, 96);
    text-align: left;
    
}

p {
    color: rgb(17, 13, 67);
    margin: 0;
    
    
}


#close {
    width: 1rem;
    border: none;
    position: absolute;
    top: 5px;
    left: 90%;
    margin: 0;
    padding: 0;
    box-shadow: #9c9da0 1px 2px 2px;
    height: 0;
    
}

.remove-button {
    border: none;
    width: 1rem;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 9px;
    right: 9px;
   
    
    
}